html, body,
.body {
  background: #ffffff;
  background-color:  #ffffff;
 
}


.brown {
    background: $primary-color;
    background-color: $primary-color;
    
   
}


.title{
  background:#ffffff;
  background-color: #ffffff;
  .columns {
    th {
      padding-top: 15px;
      
    }
  }
 
  img {
  width: 180px;
   display: block;
margin-left: auto;
margin-right: auto;

  }
 




}
.shop_for_man_woman {
text-align: center;
font-size: 0;
padding: 40px 0;
vertical-align: top;
width: 100%;
text-align: center;


.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #464646;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 2px;
  text-align: center;

 
}

.shop_woman {
  width: 300px;
  max-width: 300px;
  padding-bottom: 40px;

 
    
  }
  .shop_man {
   padding-top: 10px;
      width: 300px;
      max-width: 300px;
      padding-bottom: 40px;
     
  } 
}

.content_area {
  background: #ffffff;
  background-color:  #ffffff;


  
  & > tbody > tr > th {
    padding-top: 0;
 
  
        }

    
  .shop_now {
    background: #ffffff;
    background-color: #ffffff;
   
}
  .latest_deals {
    background-color: $primary-color;
   p {
    padding-top: 15px;
   text-align: center;
   font-size: 25px;
   color: #ffffff;
   font-weight: 600;
  }
  }

}



.footer_menu {
  background-color: #efefef;
border-top: 2px solid #2d3e4b;

.social_icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  img {
    width: 40px;
    display: inline-block;
   
  }
}





& > tbody > tr > th {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  vertical-align: middle;
}
  .columns {
   

      

    
  
      p {
        font-size: 22px;
        text-align: center;
        padding: 5px;
      }
 
}
}

