
<container>
   <row class="footer_menu">
    <columns class="footer_border" height="3" >
     <p>NEW ARRIVALS</p>
</columns>
     </row>
       <row class="footer_menu">
    <columns class="footer_border" height="3" >
     <p>SHOP MENS</p>
</columns>
     </row>
       <row class="footer_menu">
    <columns class="footer_border" height="3" >
     <p>SHOP WOMENS</p>
</columns>
     </row>
       <row class="footer_menu">
    <columns class="footer_border" height="3" >
     <p>ACCESSORIES</p>
</columns>
     </row>
     </container>
     <container>
     <row class="footer_menu">
     
     
    <columns class="social_icons">
     <a href="#"><img src="{{root}}/assets/img/apparel_files/img/dark-facebook.png"></a>


      
   
     <a href="#"><img src="{{root}}/assets/img/apparel_files/img/dark-twitter.png"></a>

  <a href="#"><img src="{{root}}/assets/img/apparel_files/img/dark-youtube.png"></a>


  <a href="#"><img src="{{root}}/assets/img/apparel_files/img/dark-instagram.png"></a>

     </columns>
   
     </row>

  </container>

  <container>
  <row class="brown" height="5" >
     
  </row>
</container>